@model ErrorViewModel

@{
    ViewData["Title"] = "Ops. Houve um erro durante o processamento de sua requisição.";
}


<div class="alert alert-danger alert-dismissible" id="msgBoxErro" style="width:100%; margin: 0 auto; margin-top:10px;">
    <button type="button" class="close"> </button>
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    <span class="errorMsg">@ViewData["Title"]</span>
</div>

<br />
<span class="errorMsg" style="color:#a30f0f">@Model.Message</span>

<br />
<br />
<br />
@if (Model.ShowRequestId)
{

    <p>
        <strong>Request ID:</strong> <code style="color:#8b0909">@Model.RequestId</code>
    </p>
}

<hr />
@*<div class="col-md-11" style="display:flex;justify-content:center;align-items:center;">
        @Html.ActionLink("Voltar", "Index", "ManterEventos", null, new { @class = "btn btn-default btn-sm" })
    </div>*@