@model LoginModel

@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="login-form">
    <form asp-controller="Home" asp-action="Login" method="post">
        <h2 class="text-center">Sistema Vendas</h2>
        @{
            try
            {
                var erro = TempData["ErrorLogin"] != null ? TempData["ErrorLogin"].ToString() : "";
                <h5 class="text-danger">@erro</h5>
            }
            catch
            {

            }
        }
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" asp-for="Email" placeholder="E-mail">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" asp-for="Senha" maxlength="10" placeholder="Senha">
            </div>
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Entrar</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Lembrar meu acesso</label><br />
            <a href="#" class="pull-right">Esqueceu a senha?</a>
        </div>
        <div class="or-seperator"><i>ou</i></div>
        <p class="text-center">Acesse com sua rede social</p>
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
        </div>
    </form>
    <p class="text-center text-muted small">Você não tem uma conta? <a href="#">Crie aqui!</a></p>
</div>
