<h2>Fornecedor excluído com sucesso!</h2>

<br />
<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Fornecedores</button>

<script>
    function Voltar() {
        window.location.href = '../../Fornecedor/Index';
    }
</script>